{% extends ':customer:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ 'customer.order.placed.header'|trans }}</h1>
        </div>
    </div>
{% endblock %}
